<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://unsplash.imgix.net/uploads%2F14115408840644deb16b0%2F2dc933e3?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=b226e242cd70a675259651c2f6513c2c" alt="...">
      <div class="carousel-caption">
        This is the first item.
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.imgix.net/uploads%2F14115409319165441c030%2Fa1d0230a?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=ceaf6a3ec69b55768d4546cb34f3fd7b" alt="...">
      <div class="carousel-caption">
        This is the second item.
      </div>
    </div>
    <div class="item">
      <img src="https://unsplash.imgix.net/uploads%2F14115120538776712c565%2Fa699942a?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=24971114fea861716e18eacd3efd0ad8" alt="...">
      <div class="carousel-caption">
        This is the third item.
      </div>
    </div>  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

