@import 'variables';
@import 'bootstrap';

body.homepage {
  background: url('/images/uploads-1412238370909393b4a19-79f023f1.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #cccccc;
}


h1 {
  font-family: 'Lobster', cursive;
  font-weight: 700;
  font-size: 60px;
}

div.panel-group {
    width: 500px;
  }

div.transbox {
    width: 500px;
    height: auto;
    background-color: #ffffff;
    border: 0px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox td {
    color: #000000;
}

td {
  padding: 10px;
}

th {
  text-align: center;
}

body.light {
  h2 {color: #4EB1BA}
  h3 {color: #E9E9E9}
  p {color: #4EB1BA}
  img { width: 100px}
  table {color: #222930}
}


body.medium {
  img { width: 23px}
  table {color: blue}
}

body.dark {
  img { width: 23px}
  table {color: dark}
}

.Lato {
  h2 {font-family: 'Lato', sans-serif;}

}

.Open_Sans {
font-family: 'Open Sans', sans-serif;
}

.Lobster {
  h2 {font-family: 'Lobster', cursive;}
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li::after {
  content: "";
  background: white;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h2 {
  font-weight: 700;
  font-size: 60px;
  text-shadow: 2px 0px 7px rgba(255, 255, 255, 1);
}

.panel-default > .panel-heading {
  background: rgba(255, 255, 255, .7);
}

table.picture-grid {
  max-width: 500px;
  background: rgba(255, 255, 255, .5);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.transition {
  transition: all ease 0.2s;
}

.imageHolder { 
  position: relative; 
} 

.imageHolder .user-caption { 
  opacity: 0; 
  position: absolute; 
  height:60px; 
  width: 150px; 
  top: 10px;
  padding: 2px 0px; 
  color: black; 
  background: white; 
  text-align: center; 
} 
.imageHolder:hover .user-caption { 
    opacity: 0.7; 
}
