@import 'variables';
@import 'bootstrap';


body.light {
  h2 {color: #4EB1BA}
  h3 {color: #E9E9E9}
  p {color: #4EB1BA}
  img { width: 100px}
  table {color: #222930}
}

body.medium {
  img { width: 23px}
  table {color: blue}
}

body.dark {
  img { width: 23px}
  table {color: dark}
}

.Lato {
  h2 {font-family: 'Lato', sans-serif;}

}

.Open_Sans {
font-family: 'Open Sans', sans-serif;
}

.Lobster {
  h2 {font-family: 'Lobster', cursive;}
}
